// Layout
$navigation-height: 60px;
$footer-height: 60px;

// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$small-font-size: 0.9em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #5E717D;
$dark-blue: darken($blue, 25);
$medium-blue: lighten($blue, 15);
$light-blue: lighten($blue, 40);
$accent-blue: #85AEC9;
$tan: #C9C5A2;
$dark-tan: darken($tan, 15);
$medium-tan: lighten($tan, 5);
$light-tan: lighten($tan, 15);
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$extra-light-gray: lighten($light-gray, 10);
$light-red: #EE3C23;
$light-yellow: #FFF6BF;
$light-green: rgb(96, 133, 78);
$green: #669900;
$red: #993333;
$yellow: #d6de23;
$orange: #e49b3c;
$light-orange: lighten($orange, 15);


// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$heading-font-color: transparentize($base-font-color, 0.3);
//$action-color: #d40000;
$action-color: #639ecb;

// Flash Colors
$success-color: lighten($light-green, 25);
$notice-color: lighten($light-blue, 10);
$warning-color: $light-yellow;
$error-color: $light-orange;

// Button Colors
$base-button-color: $action-color;
$secondary-button-color: $tan;
$tertiary-button-color: $medium-gray;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$form-label-color: $medium-gray;

// Images
$banner-image: '../images/Zoo/banner.png';
